<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/static/css/grid.css">
    <script src="/static/js/websocket.js"></script>
</head>

<body>
<div class="container">
    <table id="grid">
        {% for i in range(length) %}
        <tr>
            {% for j in range(length) %}
            <td id="cell-{{ i }}-{{ j }}" draggable="true"></td>
            {% end %}
        </tr>
        {% end %}
    </table>
</div>
<script src="/static/js/click.js"></script>
<script src="/static/js/drag.js"></script>
</body>

</html>